body {
    background-color: rgb(4, 20, 70);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img {
  width: 50%;
  max-width: 700px; 
  height: auto;
  border-radius: 8px;
}
.section {
    color: lightskyblue;
    margin-bottom: 30px;
}
.section-text {
    color: lightskyblue;
    margin-bottom: 30px;
}
.page-title{
    font-size: 300%;
    color: lightskyblue;
}
.title {
    color: lightskyblue;
}
footer {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.list a {
    color: rgb(172, 255, 169);
    text-decoration: none;
}

.list a:hover {
    color: rgb(109, 255, 184);
    text-decoration: underline;
}
nav {
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
nav a, .themeBtn {
    text-decoration: none;
    color: navy;
    background-color: deepskyblue;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 20px;
    padding: 8px 15px;
    display: inline-block;
    border: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav a:hover, .themeBtn:hover {
    background-color: dodgerblue;
    color:white
}
.container {
    max-width: 900px;
    padding: 20px;
}

footer {
    margin-top: 100px;
    text-align: left;
}

figcaption {
    color: lightskyblue;
    margin-bottom: 30px;
}

#randomPlaneResult, #randomGameResult {
    color: lightskyblue;
}

.randomiserBtn {
    display: inline-block;
    margin-top: 30px;
    background-color: lightskyblue;
    padding: 10px 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: navy;
    border-radius: 10px;
    font-size: 15px;
}

.randomiserBtn:hover {
    background-color: dodgerblue;
    color: white;
}

.light-mode body {
    color: navy;
    background-color: rgb(153, 223, 247);
}
.light-mode nav a,.light-mode .themeBtn {
    text-decoration: none;
    color: lightskyblue;
    background-color: rgb(8, 49, 120);
    border-radius: 5px;
    font-size: 20px;
    margin-right: 20px;
    padding: 8px 15px;
    display: inline-block;
    border: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.light-mode nav a:hover,.light-mode .themeBtn:hover {
    color: rgb(8, 49, 120);
    background-color: rgb(96, 176, 255);
}

.light-mode a {
    color: rgb(24, 92, 24);
}

.light-mode {
    color: navy;
    background-color: rgb(153, 223, 247);
}

.light-mode p,
.light-mode h1,
.light-mode h2,
.light-mode h3,
.light-mode h4,
.light-mode li,
.light-mode figcaption {
    color: navy;
}

body,
p, h1, h2, h3, h4, li, figcaption,
nav, a, button, footer {
    transition:
      background-color 0.7s ease,
      color 0.7s ease,
      border-color 0.7s ease;
}

.result{
    position: relative;
    min-height: 50px;
    font-size: 1.2rem;
    overflow: hidden;
}

.loading, .gameLoading {
    opacity: 0;
    transition: 1s ease;
    margin-top: 30px;
}

.content, .gameContent {
    opacity: 0;
    transition: 1.5s ease;
    margin-top: 30px;
}

.content img, .gameContent img {
    max-width: 700px; 
    height: auto;
    border-radius: 8px;
    display: block;
    margin-bottom: 30px;
}